* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    cursor: url('./reshot-icon-pointer-VBJ7FA32KP.svg'), auto;
}

body {
    background-color: forestgreen;
}

header {
    height: 10vh;
    width: 100%;
    background-color: #333;
}

main {
    height: 80vh;
    width: 100%;
    background-color: rgb(121, 194, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#box {
    height: 60vmin;
    width: 70vmin;
    background-color: seagreen;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 2vmin;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}


#box h3 {
    font: bold;

}

#box input {
    margin-top: 20px;
    height: 6vmin;
    width: 50vmin;
    outline: none;
    font-size: 4vmin;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    cursor: text;
}

#box button {
    height: 6vmin;
    width: 17vmin;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(255, 165, 165);
    cursor: pointer;

}

#box button:hover {
    background-color: rgb(250, 71, 71);
    border: 2px solid black;
    color: white;
}

#box2 {
    margin-top: 2vmin;
    height:32vmin;
    width: 50vmin;
    background-color: khaki;
    color: black;
    text-align: center;
    font-size: 23px;

    border-radius: 5px;

}

.div1 {
    display: flex;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #333;
}